#map {
    /* height: 250px;
    width: 250px; */
    background-color: white;
    /* opacity: 0.5; */
    height: 100%;
    width: 800px;
    /* note from ry - wrapper height for this element is always 500px - this forces the width to ~golden ratio */
}
