body {
    overflow: hidden;
    background-image: url("../images/bean.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
#selector {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    color: white;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    height: 44px;
}

input {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    text-align: center;
    padding: 10px;
    color: white;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

option {
    color: #000;
}

/* changing placeholder text source: https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}
.pageTitle {
    text-align: center;
    color: white;
    font-size: 9.5em;
    margin: 0;
    padding: 0;
    line-height: 0.9em;
}
.lead {
    color: white;
    text-align: center;
    margin-bottom: 60px;
}
/* transparent search bar source: https://codepen.io/davidung/pen/sgpHL */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.searchButton {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    margin-bottom: 320px;
}

#buttonID {
    /* width: 0; */
    display: inline;
}

@media only screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
    }
    #selector {
        width: 100%;
    }
    input {
        width: 100%;
    }
    #buttonID {
        display: block;
        width: 100%;
        text-align: center;
    }
    #searchLocation {
        width: 100px;
    }

    .content {
        margin-bottom: 150px;
    }

    .pageTitle {
        font-size: 5.5em;
    }

    select {
        text-align: center;
        text-align-last: center;
    }
}
